/vendor
/data
/config/*.php
/config/keys
/config/views
/.phpunit.cache
/.php-cs-fixer.cache

# ignore symlinks to styling and translation folders
web/css/eduVPN
web/css/LC
web/img/eduVPN
web/img/LC
web/fonts
views/eduVPN
views/LC
locale/eduVPN
locale/LC
