<?xml version="1.0"?>
<psalm totallyTyped="false">
  <projectFiles>
    <directory name="src"/>
    <directory name="libexec"/>
    <directory name="bin"/>
    <directory name="web"/>
    <ignoreFiles>
      <directory name="vendor"/>
    </ignoreFiles>
  </projectFiles>
  <issueHandlers>
    <LessSpecificReturnType errorLevel="info"/>
  </issueHandlers>
</psalm>
