{% extends "base.twig" %}
{% block content %}
    <ul class="menu">
        <li class="active"><span>{% trans "Approval" %}</span></li>
    </ul>

    {% if display_name is null %}
        {% set display_name = client_id %}
    {% endif %}

    <p>
        {% trans %}
            <strong title="{{ client_id }}">{{ display_name }}</strong> wants to manage your VPN configurations.
        {% endtrans %}
    </p>

    <form method="post">
        <button class="error" type="submit" name="approve" value="no">{% trans "Reject" %}</button>
        <button class="success" type="submit" name="approve" value="yes">{% trans "Approve" %}</button>
    </form>
{% endblock %}
