{% extends "base.twig" %}
{% block content %}
    <ul class="menu">
        <li class="active"><span>{% trans "Approval" %}</span></li>
    </ul>

    <p>     
        {% trans %}<strong>{{ display_name }}</strong> wants to use this VPN service on your behalf.{% endtrans %}
    </p>

    <p class="warning">
        <strong>{% trans %}Only approve this if you are using {{ display_name }}!{% endtrans %}</strong>
    </p>

    <form method="post">
        <button class="error" type="submit" name="approve" value="no">{% trans "Reject" %}</button>
        <button class="success" type="submit" name="approve" value="yes">{% trans "Approve" %}</button>
    </form>
{% endblock %}
