<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}
        <p class="warn">
            Your account has been blocked. Please contact support!
        </p>
        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
