{% extends "base.twig" %}
{% block content %}
    <ul class="menu">
        <li class="active"><span>{% trans "Error" %}</span></li>
    </ul>

    <h2>{{ code }}</h2>

    <p>
    {% trans "An error occurred." %}
    </p>

    <p class="error">
        <code>
            {{ message }}
        </code>
    </p>
{% endblock %}
