<hr>
<div class="footer">
    {% if supportedLanguages|length > 1 %}
        <form class="setLanguage" method="post" action="{{ requestRoot|e }}setLanguage">
            {% for key, language in supportedLanguages %}
            <button name="setLanguage" value="{{ key|e }}">{{ language|e }}</button>
            {% endfor %}
        </form>
    {% endif %}

    {% if _show_logout is defined and _form_auth_login_page is not defined %}
        <form class="simple" method="post" action="{{ requestRoot|e}}_form/auth/logout">
            <button type="submit">Sign Out</button>
        </form>
    {% endif %}
</div>
