<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
        <li class="active"><a href="{{ _form_auth_redirect_to }}">{% trans "Sign In" %}</a></li>
    </ul>

    <p>
        {% trans "Please sign in with your username and password." %}
    </p>

    {% if _form_auth_invalid_credentials %}
        <p class="error">
            {% trans "The credentials you provided were not correct." %}
        </p>
    {% endif %}

    <form method="post" action="{{ requestRoot }}_form/auth/verify">
        <fieldset>
            {% if _form_auth_invalid_credentials %}
                <label for="userName">{% trans "Username" %}</label>
                <input type="text"     id="userName" name="userName" autocapitalize="off" placeholder="{% trans 'Username' %}" value="{{ _form_auth_invalid_credentials_user }}" required>
                <label for="userPass">{% trans "Password" %}</label>
                <input type="password" id="userPass"name="userPass" placeholder="{% trans 'Password' %}" autofocus required>
            {% else %}
                <label for="userName">{% trans "Username" %}</label>
                <input type="text"     id="userName" name="userName" autocapitalize="off" placeholder="{% trans 'Username' %}" autofocus required>
                <label for="userPass">{% trans "Password" %}</label>
                <input type="password" id="userPass" name="userPass" placeholder="{% trans 'Password' %}" required>
            {% endif %} 
        </fieldset>
        <fieldset>
            <input type="hidden" name="_form_auth_redirect_to" value="{{ _form_auth_redirect_to }}">
            <button type="submit">{% trans "Sign In" %}</button>
        </fieldset>
    </form>

    {% include 'footer.twig' %}
</body>
</html>
