<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <p>
        {% trans "Please sign in with your username and password." %}
    </p>

    {% if _auth_form_invalid_credentials %}
        <p class="error">
            {% trans "The credentials you provided are not correct. Please try again!" %}
        </p>
    {% endif %}

    <form method="post" action="{{ rootFolder|e }}_auth/form/verify">
        <fieldset>
            {% if _auth_form_invalid_credentials %}
                <label for="userName">{% trans "Username" %}</label>
                <input type="text"     id="userName" name="userName" autocapitalize="off" placeholder="{% trans 'Username' %}" value="{{ _auth_form_invalid_user_name|e }}" required>
                <label for="userPass">{% trans "Password" %}</label>
                <input type="password" id="userPass"name="userPass" placeholder="{% trans 'Password' %}" autofocus required>
            {% else %}
                <label for="userName">{% trans "Username" %}</label>
                <input type="text"     id="userName" name="userName" autocapitalize="off" placeholder="{% trans 'Username' %}" autofocus required>
                <label for="userPass">{% trans "Password" %}</label>
                <input type="password" id="userPass" name="userPass" placeholder="{% trans 'Password' %}" required>
            {% endif %} 
        </fieldset>
        <fieldset>
            <button type="submit">{% trans "Sign In" %}</button>

        </fieldset>
    </form>

    {% include 'footer.twig' %}
</body>
</html>
