<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
        <li class="active"><a href="">{% trans "Approval" %}</a>
    </ul>

    <p>{% trans "An application wants to act on your behalf." %}</p>

    <dl>
        <dt>{% trans "Application" %}</dt><dd>{{ client_id|e }}</dd>
        <dt>{% trans "Permissions" %}</dt><dd>{{ scope|e }}</dd>
    </dl>

    <form method="post" action="{{ request_url|e }}">
        <button class="danger" type="submit" name="approval" value="no">{% trans "Reject" %}</button>
        <button class="success"  type="submit" name="approval" value="yes">{% trans "Approve" %}</button>
    </form>

    {% include 'footer.twig' %}
</body>
</html>
