<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; height=device-height; initial-scale=1">
    <title>{% trans "VPN User Portal" %}</title>
    <link href="{{ requestRoot }}css/normalize.css" media="screen" rel="stylesheet">
    <link href="{{ requestRoot }}css/screen.css" media="screen" rel="stylesheet">
</head>
