<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; height=device-height; initial-scale=1">
    <title>VPN User Portal</title>
    <link href="{{ rootFolder|e }}css/screen.css" media="screen,projection,tv" rel="stylesheet">
</head>
