<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>VPN Portal</title>
  <link rel="stylesheet" type="text/css" href="{{ rootFolder|e }}css/normalize.css">
  <link rel="stylesheet" type="text/css" href="{{ rootFolder|e }}css/default.css">
</head>
