<ul class="menu">
  <li {%if activeItem == 'new' %}class="active"{% endif %}>           <a href="new">{% trans "New" %}</a></li>
  <li {%if activeItem == 'certificates' %}class="active"{% endif %}><a href="certificates">{% trans "Certificates" %}</a></li>
  <li {%if activeItem == 'account' %}class="active"{% endif %}>       <a href="account">{% trans "Account" %}</a></li>
  <li {%if activeItem == 'documentation' %}class="active"{% endif %}> <a href="documentation">{% trans "Documentation" %}</a></li>
</ul>
