<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
        <li class="active"><a href="{{ _two_factor_auth_redirect_to }}">{% trans "Sign In" %}</a></li>
    </ul>

    <p>
        {% trans "Please attach your YubiKey and press its button." %}
    </p>

    {% if _two_factor_auth_invalid %}
        <p class="error">
            {% trans "The YubiKey OTP you provided is not correct." %} ({{ _two_factor_auth_error_msg }})
        </p>
    {% endif %}

    <form method="post" action="{{ requestRoot }}_two_factor/auth/verify/yubi">
        <fieldset>
                <label for="yubiKeyOtp">{% trans "YubiKey OTP" %}</label>
                <input type="text" id="yubiKeyOtp" size="44" name="_two_factor_auth_yubi_key_otp" autocomplete="off" maxlength="44" required pattern="[a-z]{44}" autofocus>
        </fieldset>
        <fieldset>
            <input type="hidden" name="_two_factor_auth_redirect_to" value="{{ _two_factor_auth_redirect_to }}">
            <button type="submit">{% trans "Verify" %}</button>
        </fieldset>
    </form>

    {% include 'footer.twig' %}
</body>
</html>
