<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>VPN Portal</title>
  <link rel="stylesheet" type="text/css" href="../../css/default.css">
</head>

<body>
    <div class="container">
        <h1>VPN Portal</h1>

        <p>The installation instructions will help you set up the VPN:</p>
        <ul>
            {% for key, d in templateData.doc %}
            <li><a href="{{ d|e }}">{{ key|e }}</a></li>
            <!--<li><a href="#">Windows</a></li>
            <li><a href="#">Mac OS</a></li>
            <li><a href="#">Linux (NetworkManager)</a></li>
            <li><a href="#">Google Android</a></li>
            <li><a href="#">Apple iOS</a></li>-->
            {% endfor %}
        </ul>

        <p>You can download the configuration &quot;<strong>{{ configName|e }}</strong>&quot; in <tt>OVPN</tt> format and import it in your OpenVPN client.</p>
        <a href="{{ configName|e}}/ovpn"><button>Download Configuration</button></a>
        <p><em>You can only download a configuration once. Create a new one for your other devices.</em></p>

        <p><a href="../">Back to configurations...</a></p>
    </div> <!-- /container -->
</body>
</html>
