<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}
        <h2>Documentation</h2>
        <ul>
            <li><a href="windows">Windows</a></li>
        </ul>

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
