<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li><a href="home">Home</a></li>
      <li class="active"><a href="new">New</a></li>
      <li><a href="configurations">Configurations</a></li>
      <li><a href="documentation">Documentation</a></li>
    </ul>

    <h2>New</h2>
    <p>
Choose a unique name for your configuration, e.g. "Phone". Allowed characters are <code>a-z</code>, <code>A-Z</code>, <code>0-9</code>, <code>-</code>, <code>_</code>, <code>.</code>, <code>@</code>.
    </p>

    <form method="post">
        <fieldset>
            <legend>New</legend>
            <label for="inputName">Name</label>
            <input type="text" name="name" id="inputName" maxlength="{{ cnLength|e }}" placeholder="Name" autofocus required pattern="[a-zA-Z0-9-_.@]+">
            <button type="submit" name="type" value="ovpn">Download</button>
            {% if advanced %}
                <button class="plain" type="submit" name="type" value="zip">Download (ZIP)</button>
            {% endif %}
        </fieldset>
    </form>

    {% include 'footer.twig' %}

</body>
</html>
