<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li><a href="new">New</a></li>
      <li><a href="configurations">Configurations</a></li>
      <li class="active"><a href="api">API</a></li>
      <li><a href="documentation">Documentation</a></li>

    </ul>

    <h2>API</h2>

    {% if userName %}
        {% if not userPass %}
        <dl>
            <dt>ID</dt><dd><code>{{ userName|e }}</code></dd>
            <dt>Secret</dt><dd><code>&lt;secret&gt;</code></dd>
        </dl>
        <p>
If you do not remember the <em>Secret</em> you can delete this ID and generate
a new one.
        </p>

        {% else %}
        <dl>
            <dt>ID</dt><dd><code>{{ userName|e }}</code></dd>
            <dt>Secret</dt><dd><code>{{ userPass|e }}</code></dd>
        </dl>

        {% endif %}

        <form method="post" action="api">
            <fieldset>
                <legend>Delete ID</legend>
                <input type="hidden" name="_METHOD" value="DELETE">
                <button class="danger" type="submit">Delete</button>
            </fieldset>
        </form>

        <h3>Use</h3>
        <p>
Currently one API call is available, to generate a new configuration using the
API credentials, replace <code>&lt;id&gt;</code> and <code>&lt;secret&gt;</code>
with the actual <em>ID</em> and <em>Secret</em> shown above.
        </p>

        <blockquote>
            <code>$ curl -o Test.ovpn -u &lt;id&gt;:&lt;secret&gt; -d 'name=Test' {{ rootUrl|e }}api/config</code>
        </blockquote>
    {% else %}

        <p>
No API credentials active.
        </p>

        <form method="post" action="api">
            <fieldset>
                <legend>Generate API Key</legend>
                <button type="submit">Generate</button>
            </fieldset>
        </form>
    {% endif %}

    {% include 'footer.twig' %}

</body>
</html>
