<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    {% if not isBlocked %}
        <ul class="mainMenu">
          <li class="active"><a href="new">New</a></li>
          <li><a href="active">Active</a></li>
          <li><a href="revoked">Revoked</a></li>
          <li><a href="documentation">Documentation</a></li>
        </ul>
    {% endif %}

    {% if isBlocked %}

        {% include 'blocked.twig' %}

    {% else %} 

        <h2>Error</h2>
        <p class="danger">
            You tried to create a configuration with name <em>{{ configName|e }}</em>, but it was already used before!
        </p>
        <p>
            You can only use a name once, check your <a href="active">Active</a> and <a href="revoked">Revoked</a> configurations to see which names were already used.
        </p>

        <p>
            Use your browser's back button, or click <a href="new">here</a>.
        </p> 

    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
