<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li><a href="home">{% trans "Home" %}</a></li>
      <li><a href="new">{% trans "New" %}</a></li>
      <li><a href="configurations">{% trans "Configurations" %}</a></li>
      <li class="active"><a href="account">{% trans "Account" %}</a></li>
      <li><a href="documentation">{% trans "Documentation" %}</a></li>
    </ul>

    <h2>{% trans "Account" %}</h2>

    <h3>{% trans "User" %}</h3>
    <p>
    {% set userId = userId|e %}
    {% trans %}
    Your user ID is <em>{{ userId }}</em>.
    {% endtrans %}
    </p>

    <h3>{% trans "Applications" %}</h3>
    {% if userTokens is empty %}
        <p>{% trans "You do not have any applications that are allowed to access your account." %}</p>
    {% else %}
        <p>{% trans "The following applications have access to your account. You can revoke their permission here." %}</p>
        <table>
            <thead>
                <tr><th>{% trans "Application" %}</th><th>{% trans "Permissions" %}</th><th></th></tr>
            </thead>
            <tbody>
                {% for token in userTokens %}
                    <tr>
                        <td>{{ token.client_id|e }}</td>
                        <td>{{ token.scope|e }}</td>
                        <td class="text-right">
                            <form method="post" action="deleteTokens">
                                <input type="hidden" name="client_id" value="{{ token.client_id|e }}">
                                <button class="danger" type="submit">{% trans "Revoke" %}</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% include 'footer.twig' %}

</body>
</html>
