<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div class="container">
        <div class="header clearfix">

            {% include 'header.twig' %}

            {% if not isBlocked %}
                <ul class="nav nav-pills">
                  <li role="presentation" class="active"><a href="new">New</a></li>
                  <li role="presentation"><a href="active">Active</a></li>
                  <li role="presentation"><a href="revoked">Revoked</a></li>
                  <li role="presentation"><a href="documentation">Documentation</a></li>
                </ul>
            {% endif %}
        </div>

        {% if isBlocked %}

            {% include 'blocked.twig' %}

        {% else %} 

            <h2>Error</h2>
            <p class="text-danger">
                You tried to create a configuration with name <em>{{ configName|e }}</em>, but it was already used before!
            </p>
            <p>
                You can only use a name once, check your <a href="active">Active</a> and <a href="revoked">Revoked</a> configurations to see which names were already used.
            </p>

            <p>
                Go back, or click <a href="new">here</a>.
            </p> 

        {% endif %}

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
