<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="new">{% trans "New" %}</a></li>
      <li><a href="configurations">{% trans "Configurations" %}</a></li>
      <li><a href="account">{% trans "Account" %}</a></li>
      <li class="active"><a href="documentation">{% trans "Documentation" %}</a></li>
    </ul>

    <h2>VPN Configuration</h2>
    <p>
        In order to get the VPN working you need to download a VPN 
        configuration <a href="new">here</a>. Next you download a VPN 
        client application, see below. The final step is to load the 
        configuration file in the VPN client application. How this is done
        depends on the application you use. Follow the documentation links
        if you do not know how.
    </p>

    <h2 id="app">VPN Application</h2>

    <h3 id="windows">Windows</h3>
    <p>
        Download the <a target="_blank" href="https://openvpn.net/index.php/open-source/downloads.html">OpenVPN Community client</a>.
        Read installation and configuration instructions 
        <a target="_blank" href="https://community.openvpn.net/openvpn/wiki/OpenVPN-GUI">here</a>.
        The configuration file <strong>MUST</strong> be copied to the 
        <code>C:\Program Files\OpenVPN\Config</code> folder before starting the OpenVPN client.
    </p>

    <h3 id="osx">OS X</h3>
    <p>
        Download <a target="_blank" href="https://tunnelblick.net/">tunnelblick</a>. 
        Read the <a target="_blank" href="https://tunnelblick.net/czQuick.html">Quick Start Guide</a>.
    </p>

    <h3 id="android">Android</h3>
        Install <a target="_blank" href="https://play.google.com/store/apps/details?id=net.openvpn.openvpn">OpenVPN Connect</a>.
        A <a target="_blank" href="https://docs.openvpn.net/docs/openvpn-connect/openvpn-connect-android-faq.html">FAQ</a> is available.

    <h3 id="ios">iOS</h3>
    <p>
        Install <a target="_blank" href="https://itunes.apple.com/us/app/openvpn-connect/id590379981">OpenVPN Connect</a>. 
        A <a target="_blank" href="https://docs.openvpn.net/docs/openvpn-connect/openvpn-connect-ios-faq.html">FAQ</a> is available.
    </p>
     
    <h2>Privacy</h2>
    <p>
        Using a VPN service is not a magic solution to remain private when 
        using the Internet, nor should you use this service under the 
        assumption you can never be traced back. This is not only true for 
        this VPN service, but for all of them.
    </p>
    <p>
        If you want to obtain a higher degree of privacy you should be 
        using software like the <a href="https://www.torproject.org/">Tor Browser</a>, or in some 
        cases <a href="https://tails.boum.org/">Tails</a>. Even then, 
        caution is required. Please read all accompanying documentation 
        and warnings there!
    </p>

    <h2>Advanced Users</h2>
    <p>
        You can also use <a target="_blank" href="https://play.google.com/store/apps/details?id=de.blinkt.openvpn">OpenVPN for Android</a>,
        a free software client for Android ICS (4.0) or later. Also available through <a target="_blank" href="https://f-droid.org/repository/browse/?fdid=de.blinkt.openvpn">F-Droid</a>.
    </p>
    <p>
        Importing the configuration on NetworkManager 1.2 or higher on Linux 
        works. However, on Ubuntu 16.04 there is 
        an <a href="https://bugs.launchpad.net/ubuntu/+source/network-manager/+bug/1211110">issue</a> with DNS. A workaround is described <a href="https://bugs.launchpad.net/ubuntu/+source/network-manager/+bug/1211110/comments/11">here</a>.
    </p>

    {% include 'footer.twig' %}
</body>
</html>
