<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li><a href="home">{% trans "Home" %}</a></li>
      <li><a href="new">{% trans "New" %}</a></li>
      <li class="active"><a href="configurations">{% trans "Configurations" %}</a></li>
      <li><a href="account">{% trans "Account" %}</a></li>
      <li><a href="documentation">{% trans "Documentation" %}</a></li>
    </ul>

    <h2>{% trans "Configurations" %}</h2>

    {% if configs is empty %}
        <p class="plain">
            {% trans %}
                You currently have no configurations.
            {% endtrans %}
        </p>                    
    {% endif %}

    {% if configs is not empty %}
        <table class="horizontal">
            <thead>
                <tr><th>{% trans "Name" %}</th><th>{% trans "Expires" %} ({{ date()|date('T') }})</th><th></th></tr> 
            </thead>
            <tbody>
            {% for config in configs %}
                <tr>
                    {% if 'E' == config.state or 'R' == config.state %}
                        <td>{{ config.name|e }}</td>
                    {% else %}
                        <td>{{ config.name|e }}</td>
                    {% endif %}
                    <td>{{ config.exp|e|date('Y-m-d H:i:s') }}</td>
                    <td class="text-right">
                        {% if 'D' == config.state %}
                            <span class="label label-warning">{% trans "Disabled" %}</span>
                        {% elseif 'V' == config.state %}
                            <span class="label label-success">{% trans "Active" %}</span>
                        {% elseif 'R' == config.state %}
                            <span class="label">{% trans "Revoked" %}</span>
                        {% elseif 'E' == config.state %}
                            <span class="label label-disabled">{% trans "Expired" %}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
