<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="new">{% trans "New" %}</a></li>
      <li><a href="configurations">{% trans "Configurations" %}</a></li>
      <li class="active"><a href="account">{% trans "Account" %}</a></li>
      <li><a href="documentation">{% trans "Documentation" %}</a></li>
    </ul>

    <h2>{% trans "User ID" %}</h2>
    <p>
        {% trans %}
            Your user identity is <code>{{ userId }}</code>.
        {% endtrans %}
    </p>

    {% if userGroups is not empty %}
    <h2>{% trans "Group Membership" %}</h2>
    <p>
        {% trans "You are a member of the following groups:" %}
        <ul>
            {% for group in userGroups %}
                <li title="{{ group.id|e }}">{{ group.displayName|e }}</li>
            {% endfor %}
        </ul>
    </p>
    {% endif %}
    
    {% if otpEnabledPools is not empty %}
    <h2>{% trans "Two-factor Authentication" %}</h2>
    <p>
    {% trans %}Two-factor authentication is required by these VPN profiles: {% endtrans %}
    <ul>
    {% for otpEnabledPool in otpEnabledPools %}
        <li>{{ otpEnabledPool|e }}</li>
    {% endfor %}
    </ul>
    </p>

    <p>
        {% if hasOtpSecret %}
            <p class="success">
            {% trans %}
                You are enrolled!
            {% endtrans %}
            </p>
        {% else %}
            <p class="warning">
            {% trans %}
                You are not yet enrolled! Enroll <a href="otp">here</a>.
            {% endtrans %}
            </p>
        {% endif %}
    </p>
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
