<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="new">{% trans "New" %}</a></li>
      <li><a href="configurations">{% trans "Configurations" %}</a></li>
      <li class="active"><a href="account">{% trans "Account" %}</a></li>
      <li><a href="documentation">{% trans "Documentation" %}</a></li>
    </ul>

    <h2>{% trans "User ID" %}</h2>
    <p>
        <code>{{ userId|e }}</code>.
    </p>

    {% if userGroups is not empty %}
    <h2>{% trans "Group Membership" %}</h2>
    <p>
        {% trans "You are a member of the following groups:" %}
        <ul>
            {% for group in userGroups %}
                <li title="{{ group.id|e }}">{{ group.displayName|e }}</li>
            {% endfor %}
        </ul>
    </p>
    {% endif %}
    
    <h2>{% trans "Two-factor Authentication" %}</h2>
    <p>
        {% if hasOtpSecret %}
            {% trans %} You are already enrolled. {% endtrans %}
        {% else %}
            {% trans %} You are <em>not</em> yet enrolled. Enroll <a href="otp">here</a>. {% endtrans %}
        {% endif %}
    </p>

    {% if otpEnabledPools is not empty %}
        <p>
        {% trans %}Two-factor authentication is used by the following VPN profiles: {% endtrans %}
        <ul>
        {% for otpEnabledPool in otpEnabledPools %}
            <li>{{ otpEnabledPool|e }}</li>
        {% endfor %}
        </ul>
        </p>
    {% else %}
        <p class="warning">
        {% trans %}
            None of the VPN services you have access to 
            have two-factor authentication enabled, so it will not be used when
            connecting to the VPN.
        {% endtrans %}
        </p>
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
