<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li class="active"><a href="new">New</a></li>
      <li><a href="configurations">Configurations</a></li>
      <li><a href="documentation">Documentation</a></li>
    </ul>

    <h2>New</h2>
        <p>
You can use the VPN App for your mobile device to easily import a VPN 
configuration.
        </p>

    {% if companionAppUrl %}
        <p>
<a target="_blank" href="{{ companionAppUrl|e }}">Download</a> the VPN App.
        </p>
    {% endif %}

    <p class="plain">
Scan the QR code and click "Import"!
    </p>

    <img src="{{ qrCode|e }}" width="228" height="228">

    {% include 'footer.twig' %}
</body>
</html>
