<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>VPN Portal</title>
  <link rel="stylesheet" type="text/css" href="../css/default.css">
</head>

<body>
    <div class="container">
        <h1>VPN Portal</h1>
        <p>Welcome to the VPN portal. Here you can manage your VPN configurations.</p>

        <h2>New Configuration</h2>
        <p>Enter a name, e.g. "Phone", for the configuration in the box below and click
           <em>Create</em>. A download will start immediately if no error
           occurs.
       </p>
        <form method="post">
            <input type="text" name="config_name" placeholder="Name...">
            <input type="submit" value="Create">
        </form>

        <!-- if existing configurations -->
        {% if configs %}
        <h2>Existing Configurations</h2>
        <p>If you lost your device or no longer use the VPN you can "Revoke" a configuration by setting the checkbox and clicking "Revoke".</p>
        <table>
            <thead>
                <tr><th>Configuration</th><th>Actions</th></tr>
            </thead>
            <tbody>
            {% for config in configs %}
                <tr>
                    {% if config.config_status == 'revoked' %}
                        <td><span class="revoked">{{ config.config_name|e }}</span></td>
                        <td>
                            <form method="post" action="manage/{{ config.config_name|e }}">
                                <input type="hidden" name="_METHOD" value="DELETE">
                                <input type="submit" value="Revoke" disabled="disabled">
                            </form>
                        </td>
                    {% else %}
                        <td>{{ config.config_name|e }}</td>
                        <td>
                            <form method="post" action="manage/{{ config.config_name|e }}">
                                <input type="hidden" name="_METHOD" value="DELETE">
                                <input type="submit" value="Revoke">
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div> <!-- /container -->
</body>
</html>
