{% set activeItem = 'certificates' %}
{% extends "base.twig" %}
{% block content %}
    <p>
    {% trans %}
        Are you sure you want to delete <em>{{ displayName }}</em>?
    {% endtrans %}
    </p>

    <form method="post" action="deleteCertificateConfirm">
        <input type="hidden" name="commonName" value="{{ commonName }}">
        <button name="confirmDelete" class="error" type="submit" value="yes">{% trans "Yes" %}</button>
        <button name="confirmDelete" class="success" type="submit" value="no">{% trans "No" %}</button>
    </form>    
{% endblock %}
