<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="new">{% trans "New" %}</a></li>
      <li><a href="configurations">{% trans "Configurations" %}</a></li>
      <li><a href="account">{% trans "Account" %}</a></li>
      <li class="active"><a href="documentation">{% trans "Documentation" %}</a></li>
    </ul>

    <h2>Getting Started</h2>
    <p>
        Follow these steps:
    </p>

    <ol>
        <li>Choose and download a VPN application from the list below;</li>
        <li>Load the configuration file, obtained <a href="new">here</a>, in 
            the application.</li>
    </ol>

    <h2>Application</h2>
    <h3>Windows</h3>
    <p>
        Download the <a target="_blank" href="https://openvpn.net/index.php/open-source/downloads.html">OpenVPN Community client</a>.
        Read installation and configuration instructions 
        <a target="_blank" href="https://community.openvpn.net/openvpn/wiki/OpenVPN-GUI">here</a>.
        The downloaded configuration file must be copied to the 
        <code>C:\Program Files\OpenVPN\Config</code> folder before starting the OpenVPN client.
    </p>

    <h3>macOS</h3>
    <p>
        Download <a target="_blank" href="https://tunnelblick.net/">tunnelblick</a>. 
        Read the <a target="_blank" href="https://tunnelblick.net/czQuick.html">Quick Start Guide</a>.
    </p>

    <h3>Android</h3>
        Install <a target="_blank" href="https://play.google.com/store/apps/details?id=de.blinkt.openvpn">OpenVPN for Android</a>, 
        also available via <a target="_blank" href="https://f-droid.org/repository/browse/?fdid=de.blinkt.openvpn">F-Droid</a>. 
        The proprietary <a target="_blank" href="https://play.google.com/store/apps/details?id=net.openvpn.openvpn">OpenVPN Connect</a> can also be used. See the OpenVPN Connect <a target="_blank" href="https://docs.openvpn.net/docs/openvpn-connect/openvpn-connect-android-faq.html">FAQ</a>.

    <h3>iOS</h3>
    <p>
        Install <a target="_blank" href="https://itunes.apple.com/us/app/openvpn-connect/id590379981">OpenVPN Connect</a>. 
        A <a target="_blank" href="https://docs.openvpn.net/docs/openvpn-connect/openvpn-connect-ios-faq.html">FAQ</a> is available.
    </p>
     
    <h3>Linux</h3>
    <p>
        Importing the configuration in NetworkManager >= 1.2 works. This version of NetworkManager is available in <a target="_blank" href="https://getfedora.org/">Fedora</a> >= 24 and <a target="_blank" href="http://www.ubuntu.com/desktop">Ubuntu</a> >= 16.04 LTS. On Ubuntu there is an <a target="_blank" href="https://bugs.launchpad.net/ubuntu/+source/network-manager/+bug/1211110">issue</a> with DNS. A workaround is described <a target="_blank" href="https://bugs.launchpad.net/ubuntu/+source/network-manager/+bug/1211110/comments/11">here</a>.
    </p>

    <h2>Privacy and Trust</h2>
    <p>
        Using a VPN service is not a magical solution to remain safe and 
        anonymous when using the Internet, nor should you use this service 
        under the assumption you can never be traced back. This is not only 
        true for this VPN service, but for all of them. Better safe than sorry!
    </p>
    <p>
        If you want to obtain a higher degree of anonymity and security you 
        should consider using software like the 
        <a target="_blank" href="https://www.torproject.org/">Tor Browser</a>, 
        or preferably <a target="_blank" href="https://tails.boum.org/">Tails</a>. 
        Even then, caution is required. Please make sure you read all 
        accompanying documentation and warnings there!
    </p>
    <p>
        Most smartphones and computers will use the Internet connection 
        before the VPN can be activated. On smartphones this problem can only
        be solved by <em>rooting</em> or <em>jail breaking</em> your phone and
        installing applications on it that tightly control the network traffic. 
        On a computer this can be dealt with by using Tails mentioned above.
    </p>
    
    {% include 'footer.twig' %}
</body>
</html>
