<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li class="active"><a href="new">New</a></li>
      <li><a href="configurations">Configurations</a></li>
      <li><a href="documentation">Documentation</a></li>
    </ul>

    <h2>New</h2>
    <p>
You can use the {% if companionAppUrl %}<a target="_blank" href="{{ companionAppUrl|e }}">VPN App</a>{% else %}VPN App{% endif %} for your mobile device to easily import a VPN 
configuration.
    </p>

    <p class="plain">
Scan the QR code and click "Import"!
    </p>

    <img src="data:image/png;base64,{{ qrCode|e }}" width="256" height="256">

    {% include 'footer.twig' %}
</body>
</html>
