<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li class="active"><a href="home">{% trans "Home" %}</a></li>
      <li><a href="new">{% trans "New" %}</a></li>
      <li><a href="configurations">{% trans "Configurations" %}</a></li>
      <li><a href="account">{% trans "Account" %}</a></li>
      <li><a href="documentation">{% trans "Documentation" %}</a></li>
    </ul>

    <p>
{% trans "Welcome to the VPN Portal. Here you can find out how to connect to the VPN." %}
    </p>
    <p>
{% trans "Connecting to the VPN consists of three steps:" %}
    </p>
    <ol>
        <li>{% trans %}Download and install the <a href="documentation#app">VPN application</a> for your smart phone or computer;{% endtrans %}</li> 
        <li>{% trans %}Download a <a href="new">configuration</a> for the VPN client;{% endtrans %}</li>
        <li>{% trans %}<a href="documentation#app">Load</a> the VPN configuration in the VPN application;{% endtrans %}</li>
    </ol>
    <p>
{% trans "Once these steps are completed you should be able to connect to the VPN!" %}
    </p>

    {% include 'footer.twig' %}
</body>
</html>
