<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="new">{% trans "New" %}</a></li>
      <li><a href="configurations">{% trans "Configurations" %}</a></li>
      <li class="active"><a href="account">{% trans "Account" %}</a></li>
      <li><a href="documentation">{% trans "Documentation" %}</a></li>
    </ul>

    <h3>{% trans "Error" %}</h3>
    <p class="error">
        {% trans %}
            Setting up two-factor authentication failed because the entered code does not match the expected value.
        {% endtrans %}
    </p>

    <p>
        {% trans %}
            <a href="otp">Try</a> again.
        {% endtrans %}
    </p>

    {% include 'footer.twig' %}
</body>
</html>
