<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li><a href="home">{% trans "Home" %}</a></li>
      <li class="active"><a href="new">{% trans "New" %}</a></li>
      <li><a href="configurations">{% trans "Configurations" %}</a></li>
      <li><a href="account">{% trans "Account" %}</a></li>
      <li><a href="documentation">{% trans "Documentation" %}</a></li>
    </ul>

    <h2>{% trans "New" %}</h2>

    <p>
    {% if poolList|length == 0 %}
        <p class="warning">
        {% trans %}
    You do not have access to a VPN profile. You may need to request access to be able to create a new VPN configuration.
        {% endtrans %}
        </p>
    {% else %}
        <p>
        {% trans %}
    Choose a unique name for your configuration, e.g. "Phone". Allowed characters are <code>a-z</code>, <code>A-Z</code>, <code>0-9</code>, <code>-</code>, <code>_</code>, <code>.</code>, <code>@</code>.
        {% endtrans %}
        </p>

        <form method="post">
            <fieldset>
                <legend>{% trans "New" %}</legend>
                {% if poolList|length > 1 %}
                    <label for="poolId">{% trans "Profile" %}</label>
                    <select id="poolId" name="poolId">
                        {% for pool in poolList %}
                            <option value="{{ pool.id|e }}">{{ pool.name|e }} {% if pool.twoFactor %}&#128272;{% endif %}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <input type="hidden" name="poolId" value="{{ poolList[0].id|e }}">
                {% endif %}
                <label for="inputName">{% trans "Name" %}</label>
                <input type="text" name="name" id="inputName" maxlength="{{ cnLength|e }}" placeholder="{% trans 'Name' %}" autofocus required pattern="[a-zA-Z0-9-_.@]+">
                <button type="submit">{% trans "Download" %}</button>
            </fieldset>
        </form>
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
