<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li><a href="home">{% trans "Home" %}</a></li>
      <li class="active"><a href="new">{% trans "New" %}</a></li>
      <li><a href="configurations">{% trans "Configurations" %}</a></li>
      <li><a href="account">{% trans "Account" %}</a></li>
      <li><a href="documentation">{% trans "Documentation" %}</a></li>
    </ul>

    <h2>{% trans "New" %}</h2>

    <p>
    {% trans %}
Choose a unique name for your configuration, e.g. "Phone". Allowed characters are <code>a-z</code>, <code>A-Z</code>, <code>0-9</code>, <code>-</code>, <code>_</code>, <code>.</code>, <code>@</code>.
    {% endtrans %}
    </p>

    <form method="post">
        <fieldset>
            <legend>{% trans "New" %}</legend>
            {% if serverInfo|length > 1 %}
                <label for="poolName">{% trans "Pool" %}</label>
                <select id="poolName" name="poolName">
                    {% for pool in serverInfo %}
                        <option value="{{ pool.name|e }}">{{ pool.name|e }} {% if pool.twoFactor %}&#128272;{% endif %}</option>
                    {% endfor %}
                </select>
            {% endif %}
            <label for="inputName">{% trans "Name" %}</label>
            <input type="text" name="name" id="inputName" maxlength="{{ cnLength|e }}" placeholder="{% trans 'Name' %}" autofocus required pattern="[a-zA-Z0-9-_.@]+">
            <button type="submit">{% trans "Download" %}</button>
        </fieldset>
    </form>

    {% include 'footer.twig' %}

</body>
</html>
