<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="new">{% trans "New" %}</a></li>
      <li class="active"><a href="configurations">{% trans "Configurations" %}</a></li>
      <li><a href="account">{% trans "Account" %}</a></li>
      <li><a href="documentation">{% trans "Documentation" %}</a></li>
    </ul>

    <p>
    {% trans %}
        Are you sure you want to delete <em>{{ displayName }}</em>?
    {% endtrans %}
    </p>

    <form method="post" action="deleteCertificateConfirm">
        <input type="hidden" name="commonName" value="{{ commonName }}">
        <button name="confirmDelete" class="error" type="submit" value="yes">{% trans "Yes" %}</button>
        <button name="confirmDelete" class="success" type="submit" value="no">{% trans "No" %}</button>
    </form>    

    {% include 'footer.twig' %}
</body>
</html>
