body {
    max-width: 60em;
    margin: 0 auto;
    padding: 0.5em;
}

header {
    text-align: end;
}

ul.languageSwitcher {
    padding: 0;
    list-style: none;
    font-size: 85%;
}

ul.languageSwitcher li {
    display: inline-block;
}

ul.languageSwitcher li button {
    border: 0;
    margin: 0 0.5em 0.5em 0.5em;
    padding: 0;
    background-color: #fff;
}

div.page {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2em;
}

nav {
    min-width: 10em;
}

nav ul {
    padding: 0;
    text-align: center;
}

nav ul li {
    margin: 0.5em;
    padding: 0.3em;
    list-style: none;
    display: inline-block;
}

nav ul li a {
    color: #212529;
    text-decoration: none;
}

nav ul li.active a {
    color: #007bff;
}

nav ul li a:hover {
    text-decoration: none;
    color: #007bff;
}

main {
    padding: 0 0.5em;
}

main h1 {
    text-align: center;
	margin-bottom: 0.5em;
}

main label {
    font-weight: bold;
    display: block;
    margin: 0.5em 0 0 0;
}

@media (min-width: 800px) {
    div.page {
        grid-template-columns: auto 4fr;
    }
    
    nav ul li {
        display: block;
    }
}

/* form elements */
input[type=text], input[type=password], button, select, textarea {
    padding: 0.3em;
    border: 1px solid #ccc;
    outline: none;
    margin: 0.5em 0;
}

form.frm {
	margin: 1em auto;
	width: 100%;
}

form.frm select, form.frm input[type=text] {
    width: 100%;
}

form.frm button {
/*    margin-top: 0.5em;*/
}

button {
    padding: 0.3em 1em;
    background-color: #f8f8f8;
}

textarea {
    width: 100%;
}

/* auth */
div.auth {
    max-width: 20em;
    margin: 0 auto;
}

div.auth form input[type=text], div.auth form input[type=password] {
    width: 100%;
}

form.logout {
    font-size: 75%;
    margin: 1.5em 0;
    text-align: center;
}

dt {
    margin: 0.5em 0;
    font-weight: bold;
}

.text-right {
    text-align: end;
}

.text-center {
    text-align: center;
}

p.small {
    font-size: 85%;
}

p.big {
    font-size: 115%;
}

p.success, p.success a, span.success, span.success a {
    border: 1px solid #008000;
    color: #008000;
}

p.warning, p.warning a, span.warning, span.warning a {
    border: 1px solid #ff8c00;
    color: #ff8c00;
}

p.error, p.error a, span.error, span.error a {
    border: 1px solid #dc143c;
    color: #dc143c;
}

p.plain, p.plain a, span.plain, span.plain a {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    color: #000;
}

span.plain, span.success, span.warning, span.error {
    padding: 0.3em 0.5em;
    font-weight: bold;
    font-size: 85%;
}

p.plain, p.success, p.warning, p.error {
    padding: 1em;
}

table.tbl {
    border: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

table.tbl ul {
    margin: 0;
    padding: 0 0 0 1em;
}

table.tbl thead tr {
    background-color: #f8f8f8;
    color: #555;
}

table.tbl tbody th {
    vertical-align: top;
}

table.tbl td, table.tbl th {
    padding: 0.8em 0.5em;
}

table.tbl tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

table.tbl button, table.tbl form {
    margin: 0;
}

table.stats {
    margin: 2em auto 0 auto;
    border-collapse: separate;
    border-spacing: 3px 0;
    width: 90%;
}

table.stats td, table.stats th {
    width: 1em;
    text-align: center;
    line-height: 0.5;
}

table.stats tbody th span, table.stats tfoot th span {
    writing-mode: vertical-rl;
    font-weight: normal;
    white-space: nowrap;
    line-height: 1em;
    padding-top: 0.5em;
    font-size: 85%;
}

table.stats tbody th span {
    writing-mode: vertical-rl;
}

table.stats tbody td:not(:empty) {
    background-color: #888;
    color: transparent;
}

table.stats th.index {
    box-sizing: content-box;
    vertical-align: top;
    padding: 0 0.5em;
    border-top: 1px solid #888;
}

table.stats th.index span {
    font-weight: bold;
}

figure {
    margin-bottom: 2em;
}

figcaption {
    font-size: 85%;
    text-align: center;
    font-style: italic;
    padding: 1em;
}

footer {
	margin-top: 2em;
	font-size: 75%;
	text-align: center;
}
