serverMode: production
#serverMode: development

authMethod: FormAuthentication
#authMethod: MellonAuthentication

# URL to VPN Companion App
companionAppUrl: https://example.org/companion.apk

#templateCache: /var/lib/vpn-user-portal/tpl

FormAuthentication:
    foo: $2y$10$sWzE0MjAP13srnNI/Pg8SuBM6LVmq8/hnznJwkQRF00Obe321PqGq

MellonAuthentication:
    attribute: MELLON_NAME_ID
    #attribute: MELLON_eduPersonTargetedID

ApiDb:
    dsn: 'sqlite:/var/lib/vpn-user-portal/api.sqlite'

# vpn-config-api
ConfigApi:
    Uri: 'http://localhost:8008/api.php'
    Secret: 11223344556677889900

# vpn-server-api
ServerApi:
    Uri: 'http://localhost:8009/api.php'
    Secret: 11223344556677889900
