serverMode: production
#serverMode: development

authMethod: FormAuthentication
#authMethod: MellonAuthentication

# URL to VPN Companion App
companionAppUrl: https://example.org/companion.apk

#templateCache: /var/lib/vpn-user-portal/tpl

FormAuthentication:
    #foo: $2y$10$sWzE0MjAP13srnNI/Pg8SuBM6LVmq8/hnznJwkQRF00Obe321PqGq

MellonAuthentication:
    attribute: MELLON_NAME_ID
    #attribute: MELLON_eduPersonTargetedID

api:
    dsn: 'sqlite:/var/lib/vpn-user-portal/api.sqlite'
    #username: foo
    #password: bar

# API credentials for access to remote services
remoteApi:
    vpn-ca-api:
        uri: 'http://localhost:8008/api.php'
        token: abcdef
    vpn-server-api:
        uri: 'http://localhost:8009/api.php'
        token: uvwxyz
